Donate to <%= @organization.name %>

<p>
  <%= link_to "Edit Organization", edit_organization_path(@organization) %>
</p>

<p>
  <%= link_to "Delete", organization_path(@organization), data: {confirm: 'Delete?', method: :delete} %>
</p>
