<%= form_tag organization_charges_path(@organization) do %>
  <article>
    <label class="amount">
      <span>Amount: $<%=number_with_precision(@amount/100.0, :precision => 2)%></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Donation"
          data-amount=<%= @amount %>></script>
<% end %>
